<!-- <div class="login-container">
  <div class="login-card">
    <h2 class="title">Jodetx</h2>

    <form>
    
      <div class="input-group">
        <input type="email" required />
        <label>Email</label>
      </div>

    
      <div class="input-group">
        <input type="password" required />
        <label>Password</label>
      </div>

      <button type="submit" class="login-btn">Login</button>

      <p class="signup-text">
        Don’t have an account?
        <a href="#">Sign Up</a>
      </p>
    </form>
  </div>
</div> -->
